<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tamuc GIS and Data Visualizations Club</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<header>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Dropdown
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Who we Are</a></li>
	    <li><a href="#">What we Do</a></li>
	    <li><a href="#">What is GIS?</a></li>
			<li><a href="#">What is Open Source?</a></li>
	    <li><a href="#">Blog</a></li>
	  </ul>
	</div>
</header>
